.customize{
    position: absolute;
    top: 80%; /* 上下移动 */
    left: 88%; /* 左右移动 */
    width: 50px; /* 设置按钮宽度 */
    height: 50px; /* 设置按钮高度 */
  
}

.pic{
    position: absolute;
    background-size: cover;
  
}