.button-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Create a grid with 3 columns, adjust as needed */
    gap: 10%;/* Set the gap between buttons, adjust as needed */
    position: absolute;
    top: 20%;
    left: 10%;
  }
  button {
    display: flex; /* 使用 Flexbox 布局 */
    flex-direction: column; /* 垂直方向排列子元素 */
    align-items: left; /* 在交叉轴上居中对齐 */
    justify-content: flex-end; /* 在主轴上向下对齐文本 */
    width: 200px;
    height: 280px;
    font-size: 16px;
    background-color: url('./testFile.pdf');
    color: white;
    border: none;
    border-radius: 20px !important; 
    cursor: pointer;
  }
  
  button:hover {
    background-color: #2980b9;
  }
  