.Rightpic{
    position:absolute;
    left:90%;
}
.myLeftpic{
    width: 200px;
    position:absolute;
    left:5%;
}

.mybutton{
    position: absolute;
    left:90%
}

.myRightbutton{
    width: 200px !important;
    background-image: url('./logo.png');
    background-size: cover;
    position: absolute;
    left:5%
    
}
